<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>SendEmails</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="">
    </head>
    <body>
        <h3>Welcome to GeeksForGeeks!</h3>

        <button type="submit"><a href="/staticText">Send Static Text</a></button>
        <br/>
        <button type="submit"><a href="/dynamicTextHTML">Send Dynamic Text HTML</a></button>
        <br/>
        <button type="submit"><a href="/beautifulHTMLEmail">Send Beautiful HTML CSS Email</a></button>
        <br>
        <button type="submit"><a href="/attachmentEmail">Send Email with Attachment</a></button>
            
        <script src="" async defer></script>
    </body>
</html>